
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
     height: 100vh;
     background-color: #f3f4f6;
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    padding: 120px 10px;
    background-color: #f3f4f6;
}

.left-panel {
    width: 551px;
}

.right-panel {
    width: 380px;
    padding-top: 20px;
}

.card {
    width: 551px;
    background-color: white;
    border-radius: 16px;
    padding: 48px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.progress-dots{
    display: flex;
    gap: 16px;
    margin-top: 34px;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
}

.dot{

    width: 14px;
    height: 16px;
    border-radius: 50%;
    background-color: #00C94A;
}

.dot-active{
    width: 36px;
    height: 16px;
    border-radius: 10px;
    background-color: #16A34A;
}

.card h2{
    font-size: 32px;
     font-family: "Inter", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.card > p {
    text-align: center;
    font-size: 16px;
    color: #71717A;
    margin-bottom: 50px;
}


.photo-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.photo-upload img {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    object-fit: cover;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form-group textarea {
    height: 121px;
}



.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background-color: white;
    font-family: sans-serif;
}
.form-group label{
    font-size: 14px;
   font-weight: 700;
   margin-bottom: 10px;
   color: #111111;
    font-family: "Inter", sans-serif;
}